* {
    margin: 0;
    padding: 0;
}
ul{

}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
}

ul li a{
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
    padding: 0 50px;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
}

body{
    background-color: #eee;
}